{% extends 'base.html' %}
{% block title_block %}
    Reset Password
{% endblock %}
{% block body_block %}
    <h3 class="alert alert-info">We sent a confirmation mail to your email address. Follow the instructions and reset
        password.
        <a href="https://mail.google.com/" target="_blank" class="btn btn-primary">Gmail</a>
        <a href="https://outlook.live.com" target="_blank" class="btn btn-primary">Hotmail/Outlook</a>
        <a href="https://mail.yahoo.com" target="_blank" class="btn btn-primary">Yahoo</a>
        <a href="https://mail.yandex.com" target="_blank" class="btn btn-primary">Yandex</a>
    </h3>
{% endblock %}
