{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block title_block %}
    Reset Password
{% endblock %}
{% block body_block %}
    <style>
        .reset_form {
            text-align: center;
            width: 550px;
            border: 1px solid #cccccc;
            padding: 40px;
        }
    </style>
    <center>
        <div class="reset_form" style="border-radius: 10px;">
            <form method="post">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Reset Password</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button type="submit" style="width: 100%" class="btn btn-primary btn-sm">Submit</button>
                </div>

                <div class="form-group">
                    <p>Opppps, I have remembered. <a href="{% url 'App_Login:login' %}"
                                             class="btn btn-success btn-sm">Login!!!</a></p>
                </div>
            </form>
        </div>
    </center>
{% endblock %}
