{% extends 'navbar.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block title_block %}
    Details
{% endblock %}
{% block body_block %}
    <style>
        .details_view {
            width: 100%;
            border: 1px solid #eeeeee;
            padding: 20px;
            text-align: center;
        }
    </style>
    <div class="details_view">
        <div style="text-align: left; background-color: #f3f3f3;">
            <a style="text-decoration: none; color: blueviolet;"
               href="{% url 'App_Login:searching_user' user_is=post.author %}"><img
                    class="rounded-circle" src="/media/{{ post.author.user_profile.profile_pic }}"
                    alt="profile"
                    width="38px"
                    height="38px"> &nbsp;
                {{ post.author }}
            </a>
        </div>
        <hr style="background-color: #000000;">
        <div>
            <img src="/media/{{ post.post_image }}" width="100%" alt="Post" title="{{ post.caption }}">
        </div>
    </div><br>
    <form method="post">
        {% csrf_token %}
        {{ comment_form|crispy }}
        <button type="submit" class="btn btn-primary btn-sm">comment</button>
    </form>

    <div style="padding: 20px; margin-top: 5px;">
        {% for comment in post.post_comment.all %}
            {% if user == post.author %}
                <h2><b><u>Comments:</u></b></h2>
                <hr>
                <p><b>{{ comment.user.first_name }} {{ comment.user.last_name }}</b>
                    <text style="font-size: 10px;">{{ comment.comment_date }}</text>
                    <br>
                    <text>{{ comment }}</text>
                </p>
            {% else %}
                <p></p>
            {% endif %}
        {% endfor %}

    </div>
{% endblock %}
